/* progressions */
@keyframes progression-html {
  form {
    height: 15px; }
  to {
    height: 150px;
    background: green; } }

@keyframes progression-css {
  form {
    height: 15px; }
  to {
    height: 120px;
    background: green; } }

@keyframes progression-css {
  form {
    height: 15px; }
  to {
    height: 100px;
    background: #74ac5e; } }

@keyframes progression-js {
  form {
    height: 15px; }
  to {
    height: 80px;
    background: orange; } }

@keyframes progression-node {
  form {
    height: 15px; }
  to {
    height: 30px;
    background: red; } }

@keyframes progression-git {
  form {
    height: 15px; }
  to {
    height: 30px;
    background: red; } }
