.header {
  display: flex;
  flex-direction: column-reverse; }

.vp {
  display: flex;
  flex-direction: column; }
  .vp .sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
