* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: var(--text); }

img {
  max-width: 100%; }

.underline-left {
  border-left: 1px solid var(--light); }

.box-backgroud {
  background: #eee; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column; }

/*
***** **** HEADER ****  ******
*/
.header {
  background: var(--sidebar);
  display: flex;
  flex-flow: row nowrap; }

.photo {
  flex: 0 0 300px;
  border-right: 2px solid var(--border);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid var(--border); }

.job {
  background: var(--primary);
  flex: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.5rem; }
  .job h1 {
    letter-spacing: 1.5rem;
    font-size: 5rem; }
  .job p {
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.5rem; }

/*
BODY
*/
.fa-linkedin, .fa-twitter-square, .fa-facebook-square {
  font-size: 4rem; }

.body {
  display: flex;
  flex-flow: row nowrap; }
  .body aside {
    padding: 0 2rem;
    background: var(--sidebar);
    border-right: 0.5px solid #eee;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch; }
    .body aside .social-media .section-content div {
      margin: 1rem 0; }
    .body aside .social-media .section-content div:hover {
      background: #eee;
      cursor: pointer; }
    .body aside .skill-value {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    .body aside .section-titre {
      font-weight: 700;
      letter-spacing: 0.5rem; }
    .body aside .section-content div {
      line-height: 0.2em;
      padding: 0.01rem 0; }
    .body aside .section-content .label {
      color: var(--dark);
      font-size: 1rem; }

/*
main
*/
.main {
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .main .diplome {
    display: flex;
    flex-direction: column;
    max-width: 700px; }
  .main .diplome-titre, .main .titre {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.5rem; }
  .main .content-diplome {
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .main .content-diplome .date {
      flex: 0 0 100px;
      text-align: center; }
    .main .content-diplome .licence {
      flex: auto;
      padding: 0 1rem;
      line-height: 1.5rem; }
      .main .content-diplome .licence .titre {
        border-radius: 1px;
        padding: 1.5rem 0.5rem;
        letter-spacing: 0.5rem; }
      .main .content-diplome .licence .adresse {
        font-weight: 100;
        font-size: 1.2rem;
        padding: 0 0.5rem; }
