* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: var(--text); }

img {
  max-width: 100%; }

.underline-left {
  border-left: 1px solid var(--light); }

.box-background {
  background: var(--sidebar);
  padding: 1rem; }

.red {
  color: red; }

.shadow {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); }

.gradien {
  background: linear-gradient(to bottom right, #fda208 30%, #ddd 70%); }

.gradien-10 {
  background: linear-gradient(to bottom right, white 80%, #f5a002 20%); }

.gradien-10-reverse {
  background: linear-gradient(to bottom left, white 80%, #f5a002 20%); }

.date {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btn {
  background: linear-gradient(to bottom right, white 80%, #f5a002 20%);
  height: 40px;
  transition-duration: 0.5s;
  transition-property: background, height;
  transition-timing-function: ease-out; }

.btn:hover {
  background: linear-gradient(to top left, white 80%, #f5a002 20%);
  height: 100px;
  transform: translateY(1px); }

/*
******* icon ******
*/
.fa-html5 {
  color: #dd4b25;
  font-size: 2.5rem; }

.fa-css3-alt {
  color: #1a6fb4;
  font-size: 2.5rem; }

.fa-js {
  color: #efd81d;
  font-size: 2.5rem; }

.fa-node-js {
  color: #74ac5e;
  font-size: 2.5rem; }

.fa-git-alt {
  color: #e84e31;
  font-size: 2.5rem; }

.progresse-html, .progresse-css, .progresse-js, .progresse-node, .progresse-git {
  width: 20px;
  height: 15px;
  margin: 0.2rem 0;
  background: red;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /*
  transition-duration: 0.5s;
  transition-property: background, width, border;
  transition-timing-function: ease-out;
  */ }

.progresse-html {
  animation-name: progression-html; }

.progresse-css {
  animation-name: progression-css; }

.progresse-js {
  animation-name: progression-js; }

.progresse-node {
  animation-name: progression-node; }

.progresse-git {
  animation-name: progression-git; }

@keyframes progression-html {
  form {
    height: 15px; }
  to {
    height: 150px;
    background: green; } }

@keyframes progression-css {
  form {
    height: 15px; }
  to {
    height: 120px;
    background: green; } }

@keyframes progression-css {
  form {
    height: 15px; }
  to {
    height: 100px;
    background: #74ac5e; } }

@keyframes progression-js {
  form {
    height: 15px; }
  to {
    height: 80px;
    background: orange; } }

@keyframes progression-node {
  form {
    height: 15px; }
  to {
    height: 30px;
    background: red; } }

@keyframes progression-git {
  form {
    height: 15px; }
  to {
    height: 30px;
    background: red; } }

/*
******* chargements ... ******
*/
.en-cours {
  animation-name: chargement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 1; }

@keyframes chargement {
  from {
    opacity: 1;
    transform: translateY(-20px); }
  to {
    opacity: 0.5; } }

/* 
.progresse-html:hover, .progresse-css:hover{
  background: green;
  height: 160px;
  border: 1px solid #ccc;
  cursor: pointer;
  
}
.progresse-js:hover, .progresse-node:hover, .progresse-git:hover{
  background: orange;
  height: 100px;
  cursor: pointer;
}
 */
/*
****  - transform *****
*/
.date {
  cursor: pointer;
  transition: all 0.5s; }

.date:hover {
  /*
  transform: rotate(30deg);
  */
  transform: rotate(30deg); }

/*
**** date ***
*/
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: block; }

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50; }

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important; }

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

img {
  max-width: 100%; }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch; }

.header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch; }
  .header .picture {
    padding: 2rem 0;
    background: var(--sidebar);
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .picture img {
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%; }
  .header .job {
    padding: 2rem 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch; }
    .header .job h1 {
      color: white;
      font-size: 3em;
      letter-spacing: 0.2em; }
    .header .job h4 {
      color: white;
      font-size: 1em;
      font-weight: 100; }

/*
******* vp *******
*/
.vp {
  background: white;
  flex: auto;
  display: flex;
  flex-flow: row nowrap; }
  .vp .sidebar {
    padding-left: 1rem;
    flex: 0 0 300px;
    background: var(--sidebar);
    border-right: 0.5px solid var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .vp .sidebar .social-media .section-content i {
      font-size: 4rem; }
    .vp .sidebar .social-media .section-content div {
      margin: 1rem 0; }
    .vp .sidebar .social-media .section-content div:hover {
      background: #eee;
      cursor: pointer; }
    .vp .sidebar .skill-list {
      display: flex;
      flex-flow: row nowrap;
      min-height: 200px;
      justify-content: flex-start;
      align-items: flex-end; }
    .vp .sidebar .skill-value {
      margin: 0 1rem; }
    .vp .sidebar .section-titre {
      font-weight: 700;
      letter-spacing: 0.5rem; }
    .vp .sidebar .section-content div {
      line-height: 0.2em;
      padding: 0.01rem 0; }
    .vp .sidebar .section-content .label {
      color: var(--dark);
      font-size: 1rem; }
  .vp .titre {
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 0.5rem; }
  .vp .main {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    .vp .main .global-content-main {
      padding-left: 1rem;
      flex: 4;
      display: flex;
      flex-direction: column; }
    .vp .main .creations {
      border-left: 0.1px solid var(--sidebar);
      flex: auto;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .vp .main .creations h1 {
        padding: 1rem; }
      .vp .main .creations .nom-creation {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-width: 80px;
        min-height: 80px;
        border-radius: 50%; }
      .vp .main .creations p {
        font-weight: 400;
        font-size: 1.5em; }
    .vp .main .content-main {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      .vp .main .content-main .date {
        flex: 0 0 100px; }
      .vp .main .content-main .fonction {
        flex: auto;
        padding: 0 1rem; }
      .vp .main .content-main .main-titre {
        border-radius: 1px;
        padding: 1.5rem 0.5rem;
        letter-spacing: 0.5rem; }
      .vp .main .content-main .adresse {
        font-weight: 100;
        font-size: 1.2rem;
        padding: 0 0.5rem; }
