* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: var(--text); }

img {
  max-width: 100%; }

.underline-left {
  border-left: 1px solid var(--light); }

img {
  max-width: 100%; }

.container {
  min-height: 100vh;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch; }

.header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch; }
  .header .picture {
    padding: 2rem 0;
    background: var(--sidebar);
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .picture img {
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%; }
  .header .job {
    padding: 2rem 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: var(--primary); }
    .header .job h1 {
      color: white;
      font-size: 3em;
      letter-spacing: 0.2em; }
    .header .job h4 {
      color: white;
      font-size: 1em;
      font-weight: 100; }

/*
******* vp *******
*/
.vp {
  background: white;
  flex: auto;
  display: flex;
  flex-flow: row nowrap; }
  .vp .sidebar {
    flex: 0 0 300px;
    background: var(--sidebar);
    border-right: 0.5px solid var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .vp .sidebar .social-media .section-content i {
      font-size: 4rem; }
    .vp .sidebar .social-media .section-content div {
      margin: 1rem 0; }
    .vp .sidebar .social-media .section-content div:hover {
      background: #eee;
      cursor: pointer; }
    .vp .sidebar .skill-value {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    .vp .sidebar .section-titre {
      font-weight: 700;
      letter-spacing: 0.5rem; }
    .vp .sidebar .section-content div {
      line-height: 0.2em;
      padding: 0.01rem 0; }
    .vp .sidebar .section-content .label {
      color: var(--dark);
      font-size: 1rem; }
  .vp .titre {
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 0.5rem; }
  .vp .main {
    flex: auto;
    margin-left: 1rem;
    display: flex;
    flex-direction: column; }
    .vp .main .content-main {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      .vp .main .content-main .date {
        flex: 0 0 100px; }
      .vp .main .content-main .fonction {
        flex: auto;
        padding: 0 1rem; }
      .vp .main .content-main .main-titre {
        border-radius: 1px;
        padding: 1.5rem 0.5rem;
        letter-spacing: 0.5rem; }
      .vp .main .content-main .adresse {
        font-weight: 100;
        font-size: 1.2rem;
        padding: 0 0.5rem; }
