:root {
  --font-family: 'Raleway', sans-serif;
  --light:#473714;
  --primary:#254714;
  --secondary:#2f581a;
  --dark:#011741;
  --text:#333333;
  --background:#ffffff;
  --sidebar:#f5f5f5;
  --border:#473714; }
