.container {
  height: 100vh;
  background: var(--gray); }
  .container .lists {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container .lists .content-list {
      min-width: 800px; }
      .container .lists .content-list li {
        display: flex;
        align-items: center;
        background: var(--white);
        border-bottom: 2px solid var(--gray);
        margin-bottom: 2rem;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
        box-sizing: border-box;
        transition: all 0.2s;
        border-left: 4px solid transparent; }
        .container .lists .content-list li p {
          margin: 1rem;
          width: 40px;
          height: 40px;
          font-size: 2rem;
          background: var(--orange-light);
          color: var(--white);
          border-radius: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); }
        .container .lists .content-list li a {
          margin-left: 2rem;
          font-size: 2rem; }
        .container .lists .content-list li:hover {
          cursor: pointer;
          border-left: 4px solid var(--orange-light); }
          .container .lists .content-list li:hover a {
            color: var(--text); }
          .container .lists .content-list li:hover p {
            background: var(--gray);
            color: var(--text);
            transform: scale(1.1); }

/* details */
