.annuler-x{
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  &:hover{
    background: var(--blue);
    color: var(--pink);
  }
  &::after{
    content: 'X';
    position: absolute;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    //background:var(--red);
    color: var(--white);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
   
}
.through{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.2rem;
    background: var(--text);
  }
}
.quote{
  font-style: italic;
  &::before{
    content: "\AB";
    padding: 0 0.5rem;

  }
  &::after{
    content: "\BB";
    padding: 0 0.5rem;
  }
}

.hidden{
  display: none;
}

.underline-2{
  max-width: 2rem;
  margin: 2rem auto;
  height: 0.1rem;
  background: var(--white);
}
.underline-4{
  max-width: 4rem;
  margin: 2rem auto;
  height: 0.1rem;
  background: var(--white);
}
.underline-6{
  display: inline-block;
  min-width: 6rem;
  margin: 1.5rem auto;
  height: 0.1rem;
  background: var(--pink);
}
.underline-8{
  max-width: 8rem;
  margin: 2rem auto;
  height: 0.1rem;
  background: var(--white);
}
/* text */

.title{
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.4rem;
  &-portfolio{
    background: linear-gradient(to top, var(--white) 40% , var(--pink) 60% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;          
  }

}
.text-hint{
  color: var(--text);
  font-size: 1.6rem;
  font-weight: 100;
}



/* buttons */

.btn{
  border: 0;
  margin: 2rem 0;
  outline: 0;
  cursor: pointer;
  &-primary{
    background: var(--blue-light);
    color: var(--white);
    padding: 0.5rem 2rem;
    font-weight: 700;
  }
  &-primary-portfolio{
    background: var(--white);
    font-weight: 700;  
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;  
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem; 
    padding: 1rem 2rem;
    color: var(--blue);
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  }
  &-secondary-portfolio{
    background: var(--green);
    color: var(--white);
    font-weight: 400;  
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;  
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem; 
    padding: 0.5rem 1rem;
  }

  &-primary-berberes{
    background: var(--white);
    color: var(--orange);
    padding: 2rem 1rem;
    font-weight: 700;

  }
  &-secondary-berberes{
    background: var(--text);
    color: var(--white);
    padding: 1.5rem 1rem;
    font-weight: 700;

  }  
  &-det{
    background: linear-gradient(to top, var(--pink) 50%, var(--background) 50% );
    padding: 1rem;
  }
  &-small{
    outline: 0;
    background: var(--green);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--white);
  }
  &-small-white{
    outline: 0;
    background: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--text);
  }
}



.hidden{
  display: none;
}

.box-background{
  background: var(--sidebar);
}
.shadow{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

}

.gradien-vp{
  background: linear-gradient(to bottom right, white 50%,  #f1f2f6 50%);
}



/*
******* icon ******
*/
.fa-html5{
  color: #dd4b25;
  font-size: 2.5rem;
}
.fa-css3-alt{
  color:#1a6fb4;
  font-size: 2.5rem;
  
}
.fa-js{
  color: #efd81d;
  font-size: 2.5rem;
}
.fa-node-js{
  color: #74ac5e;
  font-size: 2.5rem;
}
.fa-git-alt{
  color: #e84e31;
  font-size: 2.5rem;
}
/*
******* chargements ... ******
*/

.en-cours{
  animation-name: chargement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 1;
}

@keyframes chargement{
  from{
    opacity: 1;
    transform: translateY(-20px);
  }to{
    opacity: 0.5;

  }
}
