.container-dima{
  line-height: 2rem;
  header{
    height: 100vh;
    background: center center / cover url(../img/dima.jpeg) no-repeat;
    .header-content{
      display: flex;
      flex-flow: row-reverse;
      .pictures{
        padding: 2rem;
        flex: 1;
        overflow: auto;
        position: relative;
        .ballon{
          //background: green;
        }
        .mimi{
          //background: pink;
          position: absolute;
          bottom: 4rem;
          left: 13rem;
        }
        .titre-dima{
          line-height: 4rem;
          position: absolute;
          top: 5rem;
          left: 20rem;
          .nom{
          font-size: 10rem;
          strong{
            color: #fec311;
          }
          }
          .msg{
            color: var(--dark);
            //font-size: 3rem;
            letter-spacing: 0.2rem;
            padding-left: 0.5rem;
          }
        }
        
      }
      .text{
        padding-top: 10rem;
        flex: 1;
        line-height: 1rem;
        h1{
          //font-family: var(--font-family-titre-dima);
          font-weight: 400;
          margin-bottom: 2rem;
          font-size: 2rem;
          letter-spacing: 0.5rem;
          margin-bottom: 2rem;
        }
        .list{
          margin-left: 2rem;
          .elem{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;

            .image-elem{
              flex: 0 0 15rem;
              cursor: pointer;
              img{
                width: 12rem;
                height: auto;
                //border-radius: 12rem;
                border: 3px solid var(--gray);
              }
            }
            .content-elem{
              flex: auto;
              padding-left: 2rem;
              cursor: pointer;
              p{
                font-size: 1.5rem;
                &:first-child{
                  font-size: 2rem;
                  letter-spacing: 0.5rem;
                  //background:var(--gray);
                  max-width: 30rem;
                  //padding: 1rem 0;

                }
              }
              strong{
                font-size: 2rem;
                font-weight: 100;
                padding-right:1rem;
              }  
              .taille{
                color: var(--red);
              }
            }
          }
        }
        .blok{
          margin-left: 2rem;
          .blok-content{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            i{
              flex-basis: 50px;
              font-size: 4rem;
              margin-right: 2rem;
              &.fa-shipping-fast, &.fa-phone-alt{
                color: #658ae1;
              }
              &.fa-euro-sign{
                color: #fec311;
              }
            }  
            p{
              line-height: 1.4rem;
              flex: auto;
              font-size: 1.4rem;
              max-width: 30rem;
            }  
            .num{
              font-size: 4rem;
              letter-spacing: 0.5rem;
            }
          }
          
        }
      }
    }
  }


}