@import "reset";
@import "base";
@import "./classes";
@import "animations";

body{
  background: var(--red);
  color: var(--white);
}
.container{
  max-width: 80rem;
  margin: auto;
}
.galeries{
display: flex;
flex-direction: column;
.galeries-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  .elem{
  }
  .img-galerie{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    cursor: pointer;
    &:focus{
      grid-column: 1 / 4;
      grid-row: 1 / 4;
      z-index: 1;
    }
  }   
}
}