@import "media-queries";

.shadow{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
/* container*/
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.list-elements{
  padding: 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.element{
  background: #353b48;
  margin: 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name h1{
  margin: 0;
  padding: 0;
  letter-spacing: 0.5rem;
}
.picture{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #e1b12c;
}

.pict-1{
  background: url(../../../img/kbida/adnen.jpg) center center / cover; 
}
.pict-2{
  background: url(../../../img/kbida/houda.jpg) center center / cover;
}

/* + animation */

.plus{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include xs{
    width: 4rem;
  }
  @include sm{
    width: 4rem;
  }  
}
.plus .icon-plus-h{
  width: 5px;
  height: 5px;
  opacity: 1;
  text-align: center;
  animation: icon-plus-h 1s ease-in-out 1s alternate forwards;
}
.plus .icon-plus-v{
  width: 5px;
  height: 5px;
  opacity: 1;
  text-align: center;
  animation: icon-plus-v 1s ease-in-out 1s alternate forwards;

}
@include xs{
  .name{
    h1{
      font-size: 1rem;
    }
  }
  .picture{
    width: 4rem;
    height: 4rem;
  }
  .plus{
    .icon-plus-h, .icon-plus-v{
      width: 0.2rem;
      height: 0.2rem;
    }
  }
}
@include sm{
  .name{
    h1{
      font-size: 1rem;
    }
  }
  .picture{
    width: 4rem;
    height: 4rem;
  }
  .plus{
    .icon-plus-h, .icon-plus-v{
      width: 0.2rem;
      height: 0.2rem;
    }
  }
}
@keyframes icon-plus-v{
  from{
    opacity:0;
  }to{
    opacity: 1;
    transform: translateY(-140px) rotate(90deg);
    width: 100px;
    background: #e1b12c;
  }
} 
@include xs{
  @keyframes icon-plus-v{
    from{
      opacity:0;
    }to{
      opacity: 1;
      transform: translateY(-60px) rotate(90deg);
      width: 50px;
      background: #e1b12c;
    }
  }   
}
@include sm{
  @keyframes icon-plus-v{
    from{
      opacity:0;
    }to{
      opacity: 1;
      transform: translateY(-60px) rotate(90deg);
      width: 50px;
      background: #e1b12c;
    }
  }   
}
@keyframes icon-plus-h{
  from{
    opacity: 0;
  }to{
    opacity: 1;
    background: #e1b12c;
    transform: translateY(130px);
    width: 100px;
  }
}
@include xs{
  @keyframes icon-plus-h{
    from{
      opacity: 0;
    }to{
      opacity: 1;
      background: #e1b12c;
      transform: translateY(60px);
      width: 50px;
    }
  }
}
@include sm{
  @keyframes icon-plus-h{
    from{
      opacity: 0;
    }to{
      opacity: 1;
      background: #e1b12c;
      transform: translateY(60px);
      width: 50px;
    }
  }
}
.egale{
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.egale-top-animate, .egale-bottom-animate{
  width: 5px;
  height: 5px;
  background: #e1b12c;
}
.egale-top-animate{
  opacity: 0;
  animation: egale-top-animate 1s ease-in-out 2s alternate forwards;
}
.egale-bottom-animate{
  opacity: 0;
  animation: egale-bottom-animate 1s ease-in-out 2s alternate forwards;
}
@keyframes egale-top-animate{
  from{
    opacity: 0;

  }to{
    opacity: 1;
    width: 100px;
    transform: translateY(30px);
  }
}
@include xs{
  @keyframes egale-top-animate{
    from{
      opacity: 0;
  
    }to{
      opacity: 1;
      width: 50px;
      transform: translateY(50px);
    }
  }
}
@include sm{
  @keyframes egale-top-animate{
    from{
      opacity: 0;
  
    }to{
      opacity: 1;
      width: 50px;
      transform: translateY(50px);
    }
  }
}
@keyframes egale-bottom-animate{
  from{
    opacity:0;
  }to{
    opacity: 1;
    width: 100px;
    transform: translateY(-30px);
  }
}
@include xs{
  @keyframes egale-bottom-animate{
    from{
      opacity:0;
    }to{
      opacity: 1;
      width: 50px;
      transform: translateY(-50px);
    }
  }
}
@include sm{
  @keyframes egale-bottom-animate{
    from{
      opacity:0;
    }to{
      opacity: 1;
      width: 50px;
      transform: translateY(-50px);
    }
  }
}
/* Resultat */
.resultat{  
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.resultat-img{
  width: 400px;
  flex-basis: 200px;
  text-align: center;
  background:url(../../../img/kbida/love.jpg) center center / cover;
  animation: img-animate 1s ease-in-out 3s alternate forwards;
  filter: blur(15px);
  opacity: 0;
}

@keyframes img-animate{
  from{
    opacity: 0;
  }to{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(-50px);
  }
}

/* picture - rotation*/

.picture{
  animation: picture 1s ease-in forwards;
  opacity: 0;
}
@keyframes picture{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: rotate(360deg);

  }
}
/* name - animation*/
.name{
  animation: name 1s ease-in-out 2s forwards;
  opacity: 0;
}
@keyframes name{
  from{
    opacity: 0;
  }to{
    opacity: 1;
    background: #353b48;
    color:#f5f6fa;

  }
}
.container{
  animation: container-animate 4s ease-in-out forwards;
}
@keyframes container-animate{
  from{
    opacity: 1;
  }
  to{
    background: linear-gradient(to bottom right, white 95%, #353b48 5%);
  }
}