@import "reset";
@import "base";
@import "classes";
@import "animations";
@import "media-queries";


.container-grid{
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 2.5rem;
  display: grid;
  grid:
  "header header profil" auto
  "main main sidebar" 1fr / 1fr 1fr 1fr;
  column-gap: 1rem;
  padding:1rem;
  background: var(--white);

  @include md{
    min-height: auto;
    grid:
    "header" auto
    "profil" auto
    "main" auto
    "sidebar" auto / auto;   
    padding: 0;
    position: relative;
  }
  @include sm{
    min-height: auto;
    grid:
    "header" auto
    "profil" auto
    "main" auto
    "sidebar" auto / auto;   
    padding: 0;
    position: relative;
  }
  @include xs{
    min-height: auto;
    grid:
    "header" auto
    "profil" auto
    "sidebar" auto
    "main" auto / auto;   
    padding: 0;
    position: relative;
  }
  .header{
    grid-area: header;
    padding: 1rem 0.5rem;
    line-height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    border-top-left-radius: 0.5rem;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(to right, var(--blue) 30% , var(--blue-light) 70% );
    @include xs{
      position: relative;
      flex-direction: column;
      align-items: stretch;
      border-radius: 0;
    }
    @include sm{
      position: relative;
      flex-direction: column;
      align-items: stretch;
      border-radius: 0;
    }
    @include md{
      position: relative;
      flex-direction: column;
      align-items: stretch;
      border-radius: 0;
    }  
    .nav{
      flex: auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .logo{
        flex: 1;
        max-width: 4rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;
        &:focus + ul{
          display: none;
        }
      }
      ul{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        li{
          margin: 0;
          padding: 0rem 2rem;
          a{
            letter-spacing: 0.2rem;
            color: var(--white);
          }
          &:last-child{
            a{
              background: linear-gradient(to right, var(--blue) 30% , var(--blue-light) 70% );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;  
            }
          }  
        }
      }
      @include xs{
        flex-direction: column;
        align-items: stretch;
          .logo{
            flex-direction: column;
            align-items: flex-start;
          a{
            min-width: 4rem;
          }
        }
        ul{
          background: var(--text);
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem 0;
          border-radius: 0.5rem;
          li{
            padding: 0 1rem;
            &:last-child{
              background: var(--text);
            }
          }
        }
      }
      @include sm{
        flex-direction: column;
        align-items: stretch;
          .logo{
            flex-direction: column;
            align-items: flex-start;
          a{
            min-width: 4rem;
          }
        }
        ul{
          background: var(--text);
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem 0;
          border-radius: 0.5rem;
          li{
            padding: 0 1rem;
            &:last-child{
              background: var(--text);
            }
          }
        }
      }  
      @include md{
        flex-direction: column;
        align-items: stretch;
          .logo{
            flex-direction: column;
            align-items: flex-start;
          a{
            min-width: 4rem;
          }
        }
        ul{
          background: var(--text);
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem 0;
          border-radius: 0.5rem;
          li{
            padding: 0 1rem;
            &:last-child{
              background: var(--text);
            }
          }
        }
      }    
    }
    .socials{
      flex: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .social-elem{
        flex: 0 0 4rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        a{
          flex:1;
          display: flex;
          align-items: center;

        }
        &:nth-child(1){
          margin: 0 0.5rem;
        }
      }
      @include xs{
        margin-top: 0.5rem;
        justify-content: center;
        .social-elem{
          flex-direction: column;
          a{
            min-width: 4rem;
            flex-direction: column;
          }
        }
      }
      @include sm{
        margin-top: 0.5rem;
        justify-content: center;
        .social-elem{
          flex-direction: column;
          a{
            min-width: 4rem;
            flex-direction: column;
          }
        }
      }  
      @include md{
        margin-top: 0.5rem;
        justify-content: center;
        .social-elem{
          flex-direction: column;
          a{
            min-width: 4rem;
            flex-direction: column;
          }
        }
      }    
    }
  }

  .profil{
    grid-area: profil;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    cursor: pointer;
    border-top-right-radius: 0.5rem;
    position: sticky;
    top:0;
    background: linear-gradient(to left, var(--blue) 30% , var(--blue-light) 70% );
    .profil-img{
      flex:0 0 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: flex;
        align-items: center;
        img{
          border-radius: 100%;
        }  
      }
    }
    .profil-titre{
      color: var(--white);
      letter-spacing: 0.2rem;
    }
    @include xs{
      position: relative;
      flex-direction: column;
      border-radius: 0;
      .profil-titre{
        order: 1;
        color: var(--text);
      }
      .profil-img{
        order: 0;
        flex-direction: column;
        a{
          margin:0;
          padding: 2rem 2rem 0 2rem;
          flex-direction: column;
        }
      }
    }
    @include sm{
      position: relative;
      flex-direction: column;
      border-radius: 0;
      .profil-titre{
        order: 1;
        color: var(--text);

      }
      .profil-img{
        order: 0;
        flex-direction: column;
        a{
          flex-direction: column;
          max-width: 12rem;
          padding: 1rem 1rem 0 1rem;
        }
      }
    }  
    @include md{
      position: relative;
      flex-direction: column;
      border-radius: 0;
      .profil-titre{
        order: 1;
        color: var(--text);

      }
      .profil-img{
        order: 0;
        flex-direction: column;
        a{
          flex-direction: column;
          max-width: 12rem;
          padding: 0.5rem 0.5rem 0 0.5rem;

        }
      }
    }  
  }
  .main{
    grid-area: main;
    padding: 4rem 0;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    background: linear-gradient(to right, var(--blue) 30% , var(--blue-light) 70% );
    .film{
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .container-last-projects{
      max-width: 100%;
      margin: auto;
      @include md{
        max-width: 70rem;
      }
      @include sm{
        max-width: 40rem;
      }
      @include xs{
        //max-width: 20rem;
        margin: auto;
      }
    }
    .last-projects{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative; 
      .last-projects-list{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        overflow: scroll;
        .last-project-elem{
          flex: 1;
          border: 1px solid var(--gray);
          border-radius: 0.5rem;
          background: var(--white);
          margin:0.5rem 1rem;
          max-height: 30rem;
          min-width: 30rem;
          overflow: hidden;
          @include xs{
            min-width: 20rem;
          }
          a{
            display: flex;
            flex-direction: column;
            align-items: center;  
            .last-project-elem-img{
              max-width: 4rem;
              max-height: 4rem;
              margin: 2rem auto;
            }
            .last-project-elem-text{
              display: flex;
              flex-direction: column;
              align-items: center;
              p{
                &.titre{
                  color: var(--text);
                  font-weight: 700;
                  letter-spacing: 0.2rem;
                }
                &.text-hint{
                  font-size: 1rem;
                  letter-spacing: 0.2rem;
                }    
              }
            }      
          }
          
        }
        @include xs{
          margin-left: 0;
        }
      }
      .btn-left{
        position: absolute;
        left: 1rem;
        top:calc(50% - 3rem);
        font-size: 4rem;
        color: var(--text);
        background: var(--gray);
        width: 6rem;
        height: 6rem;
        border: 1px solid var(--gray);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;
        opacity: 0.8;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        transition: all 0.2s;
        &:hover{
          opacity: 1;
          transform: translateX(-0.5rem);
        }  
        @include xs{
          display: none;
        }
        @include sm{
          display: none;
        }
        @include md{
          display: none;
        }  
      }
      .btn-right{
        position: absolute;
        right: 1rem;
        top:calc(50% - 3rem);
        font-size: 4rem;
        color: var(--text);
        background:var(--gray) ;  
        width: 6rem;
        height: 6rem;
        border: 1px solid var(--gray);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;
        opacity: 0.8;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        transition: all 0.2s;
        &:hover{
          opacity: 1;
          transform: translateX(0.5rem);
        }   
        @include xs{
          display: none;
        }
        @include sm{
          display: none;
        }
        @include md{
          display: none;
        }   
      }  
    }
 /* creations Page */
 .creations{
   display: flex;
   flex-direction: column;
   padding: 0 4rem;
   .creations-header{
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     img{
       max-width: 18rem;
     }
     h2{
       flex: 1;
       margin: 0;
       padding-left: 1rem;
       font-weight: 100;
       letter-spacing: 0.4rem;
       @include xs{
         letter-spacing: 0;
         font-size: 1.6rem;
       }
     }
   }
   .creations-list{
     margin: 4rem 0;
     display: flex;
     flex-direction: column;
     font-size: 1.2rem;
     color: var(--white);
     max-height: 40rem;
     overflow: scroll;  
     @include sm{
       max-height: 100%;
       overflow: auto;
     }
     @include xs{
       max-height: 100%;
       overflow: auto;
     }
     li{
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: center;
       border-bottom: 0.1rem solid var(--white);
       padding: 0.5rem;
       .creation-title{
         flex-basis: 15rem;
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         img{
           max-width: 4rem;
         }
         p{
           margin: 0;
           padding-left: 0.5rem;
         }
       }
       .langages{
         display: flex;
         flex-flow: row nowrap;
         img{
           max-width: 2rem;
         }

       }
       .links{
        a{
          color: var(--text);
          font-size: 1rem;
        }   
       }
       transition: all 0.4s;
       &:hover{
         cursor: pointer;
         opacity: 0.8;
         p{
           color: var(--text);
         }
       }
     }
   }

}


/*     .creation-list{
  .content-list{
    background:var(--gray-light);
    margin: 1rem;
    border-top: 2px solid var(--gray);
    font-weight: 700;
    li{
      padding: 1rem;
      border-bottom: 1px solid var(--white);
      transition: all 0.2s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sub-nav{
        display: flex;
        font-size: 1rem;
        .site{
          border: none;
          a{
            font-weight: 400;
            background: var(--yellow);
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: var(--text);
            transition: all 1s;
            &:hover{
              transform: scale(1.1);
              //font-size: 1.8rem;
            }  
          }


        } 
        .detail{
          border: none;
          a{
            background: var(--green);
            font-weight: 400;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: var(--text);
            transition: all 1s;
            &:hover{
              transform: scale(1.1);
              //font-size: 1.8rem;
            }    
          }    
        }
      }
      border-left: 4px solid transparent;
      &:hover{
        background: var(--white);
        border-left: 4px solid var(--dark);
        cursor: pointer;
        .sub-nav{
          a{
            transform: scale(1.1);
          }    
        }
      }
    }
  }
  @include xs{
    line-height: 1.2rem;
    background: var(--green);
    .titre-list{
      text-align: center;
      margin-top: 2rem;
      font-size: 1.8rem;
      color: var(--white);
      padding: 1rem 0;
    }
    .content-list{
      background: white;
      li{
        display: flex;
        flex-direction: column;
        a{
          background: var(--gray);
          padding: 1rem;
          border-radius: 0.5rem;
        }
        .sub-nav{
          .sub-nav-elem{
            a{
              background: var(--white);
              text-decoration: underline;

            }
          }
        }
      }
    }
  }
  @include sm{
    line-height: 1.2rem;
    background: var(--green);
    .titre-list{
      text-align: center;
      margin-top: 2rem;
      font-size: 1.8rem;
      color: var(--white);
      padding: 1rem 0;
    }
    .content-list{
      background: white;
      li{
        display: flex;
        flex-direction: column;
        a{
          background: var(--gray);
          padding: 1rem;
          border-radius: 0.5rem;
        }
        .sub-nav{
          .sub-nav-elem{
            a{
              background: var(--white);
              text-decoration: underline;

            }
          }
        }
      }
    }
  }  
} */

    /* layout page */
    .layout-content{
      margin-top: 2rem;
      display: flex;
      flex-flow: row nowrap;
      .grid-layout{
        flex: 1;
        min-height: 30vh;
        background: var(--blue-light);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5rem 1fr;
        grid-template-areas:
        "header header picture"
        "main main sidebar";
        header{
          grid-area: header;
          background: var(--red);
        }
        .picture{
          grid-area: picture;
          background: var(--pink);
        }
        aside{
          grid-area: aside;
          background: var(--gray);
        }
        main{
          grid-area: main;
          background: var(--green);
        } 
      }  
      .layout-text{
        flex: 1;
        padding-left: 1rem;
      }  
    }
    .details-code{
      margin-top: 1rem;
      background: var(--green-light);
      pre{
        display: block;
      }
      pre:last-child{
        display: none;
      }
      button:nth-child(2):focus ~ pre{
        display: block;
      }    
      button:nth-child(2):focus + pre{
        display: none;
      }
    }
   
    /* details Page*/
    .lists{
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;
      .content-list{
        //min-width: 800px;
        li{
          display: flex;
          align-items: center;
          background: var(--white);
          border-bottom: 2px solid var(--gray);
          margin-bottom: 2rem;
          box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
          padding: 0 1rem;
          p{
            margin: 1rem;
            width: 40px;
            height: 40px;
            font-size: 2rem;
            //border: 1px solid var(--dark);
            background: var(--orange-light);
            color: var(--white);
            border-radius: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  
    
          }
          a{
            margin-left: 2rem;
            font-size: 2rem;
          }
          box-sizing: border-box;
          transition: all 0.2s;
          border-left: 4px solid transparent;
          &:hover{
            //background: var(--dark);
            cursor: pointer;
            border-left: 4px solid var(--orange-light);
            a{
              color: var(--text);
            }
            p{
              background: var(--gray);
              color: var(--text);
              transform: scale(1.1);
            }
            
          }
        }     
      }    
    }
    @include xs{
      .titre-list{
        text-align: center;
        font-size: 1.8rem;
      }
      .lists{
        padding: 2rem;
        background: var(--green);
        .content-list{
          li{
            flex-direction: column;
            border: 0;
            box-shadow: none;
            p{
              margin: 0;
              text-align: center;
              display: none;
            }
            a{
              margin: 0;
              font-size: 1.6rem;
              padding: 1rem;
            }
          }
        }
      }
    }
    @include sm{
      .titre-list{
        text-align: center;
        font-size: 1.8rem;
      }
      .lists{
        padding: 2rem;
        background: var(--green);
        .content-list{
          li{
            flex-direction: column;
            border: 0;
            box-shadow: none;
            p{
              margin: 0;
              text-align: center;
              display: none;
            }
            a{
              margin: 0;
              font-size: 1.6rem;
              padding: 1rem;
            }
          }
        }
      }
    }  
    .content-page{
      display: flex;
      flex-direction: column;
      background: var(--gray);
      padding: 2rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      border-top: 0.3rem solid var(--red-light);
      h2{
        font-size: 2rem;
        letter-spacing: 0.2rem;
        padding: 1rem 0;
      }
      pre{
        overflow: auto;
        margin: 2rem 0; 
        background: var(--white);
        padding: 1rem 0;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);  
      }
      img{
        max-width: 100%;
        max-height: 40rem;
      }
    }
    
    @include sm{

      h2, h4{
        text-align: center;
      }
      p, ul{
        text-align: center;
        margin: 0 4rem;
      }
     .code{
      max-width: 45rem;
      margin: auto;
      pre{
        margin: 0;
        padding: 0;
      }  
     }
    }
    @include xs{
      h2, h4{
        text-align: center;
      }
      p, ul{
        text-align: center;
        margin: 0 4rem;
      }
      pre{
        padding: 0;
        margin: 0;
        max-width: 30rem;
        margin: auto;
      }
    }  
  }
  .sidebar{
    grid-area: sidebar;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to left, var(--blue) 30% , var(--blue-light) 70% );
    @include l{
      font-size: 1.2rem;
    }
    .block{
      padding: 0 4rem;
      h1{
        font-weight: 100;
        @include l{
          font-size: 1.6rem;
        }
      }
      p{
        margin: 4rem 0 2rem 0;
        font-weight: 100;
        letter-spacing: 0.2rem;
        color: var(--white);
        font-size: 1.2rem;
      }
      img{
        max-width: 4rem;
      }
      .block-contact{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        p{
          margin: 2rem 0;
          margin-left: 1rem;

        }
      }
      .outils{
        padding: 0 0.5rem;
        .block-list{
          padding: 2rem 0;
          border-radius: 0.5rem;
          display: flex;
          flex-direction: column;
          .block-elem{
            display: flex;
            flex-flow: row nowrap;
            padding: 1rem;
            img{
              max-width: 2rem;
            }
            p{
              color: var(--text);
              margin: 0;
              margin-left: 1rem;
            }
          }
          &:last-child{
            display: none;
          }
        }
        button:nth-child(2):focus ~ div{
          display:none;
          &:last-child{
            display: block;
          }
        }  
      }
    }

  }

/*   .sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom-right-radius: 0.5rem;
    background: linear-gradient(to left, var(--blue) 30% , var(--blue-light) 70% );
    @include xs{
      border-radius: 0;
    }
    .block{
      padding: 0 4rem;  
      color: var(--white);
      .title{
        font-weight: 400;
        background: linear-gradient(to top, var(--white) 40% , var(--pink) 60% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        @include xs{
          font-size: 2rem;
          letter-spacing: 0.1rem;
          text-align: center;
        }
        @include sm{
          text-align: center;
        }
        @include md{
          text-align: center;
        } 
        @include l{
          font-size: 2rem;
          letter-spacing: 0.1rem;
        }         
      }
      p{
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        font-weight: 100;
        @include xs{
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
          text-align: center;
        }  
        @include sm{
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
          text-align: center;
        }  
        @include md{
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
          text-align: center;
        }    
        @include l{
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
        }  
      }
      .contact-list{
        display: flex;
        flex-direction: column;
        .contact-elem{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          cursor: pointer;
          .contact-elem-img{
            flex:0 0 2rem;
            margin-right: 1rem;
            display: flex;
            align-items: center;
          }
          p{
            margin: 0;
          }
        }
        @include xs{
          max-width: 20rem;
          margin: auto;
        }
        @include sm{
          max-width: 20rem;
          margin: auto;
        }  
        @include md{
          max-width: 20rem;
          margin: auto;
          }    
      }
      .outils{
        @include xs{
          max-width: 20rem;
          margin: auto;
        }
        @include sm{
          max-width: 30rem;
          margin: auto;
        }
        @include md{
          max-width: 30rem;
          margin: auto;
        }
        .block-list{
          display: flex;
          flex-direction: column;
          .block-elem{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0.5rem 0;
            padding: 0.5rem 0;
            border-bottom: 0.1rem solid var(--white);
            background: none;
            .block-elem-img{
              width: 4rem;
              height: 4rem;
              border: 1px solid var(--gray);
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: center;
              margin-right:1rem;
              border-radius: 100%;
              padding: 1rem;
            }
            .titre-elem{
              font-weight: 100;
              letter-spacing: 0.1rem;
              font-size: 1.4rem;
              @include xs{
                font-size: 1rem;
                letter-spacing: 0;
              }
              @include sm{
                font-size: 1rem;
                letter-spacing: 0;
              }  
              @include md{
                font-size: 1.2rem;
                letter-spacing: 0;
              }
              @include l{
                font-size: 1.2rem;
                letter-spacing: 0;
              }
            }
          }

          &:last-child{
            display: none;
          }
        }
        button:nth-child(2):focus ~ div{
          display:none;
          &:last-child{
            display: block;
          }
        }
  
      }
    }
    .contact-form{
      padding: 4rem 2rem;
      form{
        display: flex;
        flex-flow: row nowrap;
        input{
          flex: 1;
          padding: 1rem 0;
          border: none;
          background: none;
          border-bottom: 0.1px solid var(--white);
          outline: 0;
          &::placeholder{
            color: var(--white);
            font-size: 1.2rem;
          }
          &:focus::placeholder{
            visibility: hidden;
          }
        }
        button{
          flex: 0 0 4rem;
          height: 4rem;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          //border: 0;
          border-radius: 100%;
          background: var(--white);
          border: 0.1px solid var(--gray);
          padding: 1rem;
          cursor: pointer;
          .button-img{
            flex: 1;
          }
          transition: all 0.4s;
          &:hover{
            background: var(--gray-light);
          }
        }
      }
    }
  } */
}

/* details - page */
@include xs {
  .details-page, .detail-page{
    .profil{
      display: none;
    }
    .sidebar{
      display: none;
    }
  }
}
@include sm {
  .details-page, .detail-page{
    .profil{
      display: none;
    }
    .sidebar{
      display: none;
    }
  }
}
/* creations - index */
@include xs{
  .creation-page{
    .profil{
      display: none;
    }
    .sidebar{
      display: none;
    }
  }
}
@include sm{
  .creation-page{
    .profil{
      display: none;
    }
    .sidebar{
      display: none;
    }
  }
}

