.header .job{
  //display: none;
}
.vp .main{
  //display: none;
}
.header{
  display: flex;
  flex-direction: column-reverse;
}
.vp{
  display: flex;
  flex-direction: column;
  .sidebar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
