@import "reset";
@import "base";
img{
  max-width: 100%;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.header{
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
  
  .picture{
    padding: 2rem 0;
    background: var(--sidebar);
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%;
    }
  }
  .job{
    padding: 2rem 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: var(--primary);
    h1{
      color: white;
      font-size: 3em;
      letter-spacing: 0.2em;
    }
    h4{
      color: white;
      font-size: 1em;
      font-weight: 100;
    }
  }

}
/*
******* vp *******
*/
.vp{
  background: white;
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  .sidebar{
    padding-left: 1rem;
    flex: 0 0 300px;
    background: var(--sidebar);
    border-right: 0.5px solid var(--sidebar );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .social-media .section-content i{
      font-size: 4rem;
    }

    .social-media .section-content div{
      margin: 1rem 0;
    }
    .social-media .section-content div:hover{
      background: #eee;
      cursor: pointer;
    }
    .skill-value{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .section-titre{
      font-weight: 700;
      letter-spacing: 0.5rem;
    }
    .section-content{
      div{
        line-height: 0.2em;
        padding: 0.01rem 0;
      }
      .label{
        color: var(--dark);
        font-size: 1rem;
      }
    }

  }
  .titre{
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
  }
  .main{
    flex: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    .global-content-main{
      padding-left: 1rem;
      flex: 4;
      display: flex;
      flex-direction: column;
    }
    .creations{
      border-left: 0.1px solid var(--sidebar);
      flex: auto;
      font-family: var(--font-family-secondary);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        background: var(--sidebar);
        padding: 1rem;
      }
      .nom-creation{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-width: 80px;
        min-height: 80px;
        border: 1px solid #eee;
        border-radius: 50%;
        background: var(--sidebar);
      }
      p{
        font-weight: 400;
        font-size: 1.5em;
      }
    }
    .content-main{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .date{
        flex: 0 0 100px;
      }
      .fonction{
        flex: auto;
        padding: 0 1rem;
      }
      .main-titre{
        border-radius: 1px;
        padding: 1.5rem 0.5rem;
        letter-spacing: 0.5rem;
      }
      .adresse{
        font-weight: 100;
        font-size: 1.2rem;
        padding: 0 0.5rem;

      }
    }
  }
}