@import "../reset";
@import "../base";
@import "../classes";
@import "./animations";

:root{
  --content:"adnen said";
}
body{
  font-size: 1.6rem;
  background: var(--background);
}
.banner-container{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  min-height: 100vh;
  background:center center / cover url(../../../img/berberes/trio/bkg-1.png) no-repeat;
  .header{
    display: grid;
    grid-template-columns: 1fr 6rem 1fr;
    grid-template-rows: 2rem auto;
    margin: 4rem 8rem 0 8rem;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    .skincare{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      overflow: auto;
    }
    .logo{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      text-align: center;
      overflow: auto;
    }  
    .social{
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      display: flex; 
      justify-content: flex-end;
      li{
        max-width: 6rem;
        flex: 1;
        overflow: auto;
      }
    }  
  }  
  .banner{
    flex: auto;
    display: flex; 
    flex-flow: row nowrap;
    .images{
      //background: green;
      flex: 1;
      position: relative;
      margin-top: 6rem;
      margin-left: 6rem;
      .img-1{
        position: absolute;
        left: 6rem;
        top: 0;
        width: 75%;
        height: 75%;
        z-index: 0;
        background: url(../../../img/berberes/trio/rosace.svg) no-repeat;
        background-size: contain;
      }
      .img-2{
        position: absolute;
        left: 6rem;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background:url(../../../img/berberes/trio/img-2.png) no-repeat;
        background-size: contain;
      }      
    } 
    .content{
      flex: 1;
      padding-top: 4rem;
      padding-left: 2rem;
      .titre-article{
        color: var(--text);
        letter-spacing: 0.6rem;
        font-size: 1.4rem;
        margin: 0;
        
      }
      h1{
        font-weight: 300;
        color:var(--text);
        font-size: 6.4rem;
        padding: 4rem 0;
        
      }
      h3{
    
        grid-area: h3;
        
        p{
          font-size: 0.5em;
          margin: 0;
          
        }
      }
      .paragraphe{
        grid-area: paragraphe;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 2rem 0;
        margin: 0;
        padding-bottom: 2rem;
        padding-right: 14rem;
      }
      .button-article{
        cursor: pointer;
        margin: 2rem 0;
        max-width: 250px;
        text-align: center;
        align-self: center;
        color: var(--orange);
        background: #fff;
        transition: all 1s;
        &:hover{
          transform: scale(1.1);
        }
      }  
    }
  } 
}
  .vp{
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem;
    .vp-list{
      flex: auto;
      display: flex;
      flex-direction: column;
      .vp-elem{
        display: flex;
        //flex-flow: row nowrap;
        padding-top: 20rem;
        .vp-num{
          flex: 1;
          display: flex;
          align-items: center;
          
          p{
            z-index: 0;
            color: var(--white);
            font-size: 48rem; // (max-height / line-height) * 1.6 
          }
        }
        .vp-content{
          flex: 1;
          max-height: 60rem;
          overflow: hidden;

          p{
            padding-top: 1rem;
            max-width: 450px;
            font-size: 1.8rem;
            font-weight: 300;
          }
          p:last-child{
            display: none;
          }
          .btn-det{
            cursor: pointer;
            margin-top: 2rem;
            padding:1rem;
            border: none;
            background: linear-gradient(to top, var(--pink) 50%, var(--background) 50% );
            &:focus{
              color: var(--text);
              border: none;
              outline: none;
            }
            &:nth-child(2):focus ~ p{
              display: none;
              &:last-child{
                display: block;
              }
            }
          }
        }
      }
      .elem-1 .vp-num::before{
        content: "";
        width: 100%;
        height: 100%;
        background:center center / contain url(../../../img/berberes/trio/img-1.png) no-repeat;
        background-size: contain;
      }
      .elem-2 .vp-num::before{
        content: "";
        width: 100%;
        height: 100%;
        background:center center / contain url(../../../img/berberes/trio/img-3.png) no-repeat;
        z-index: 1;

      }
      .elem-3 .vp-num::before{
        content: "";
        width: 100%;
        height: 100%;
        background:center center / contain url(../../../img/berberes/trio/img-4.png) no-repeat;
        z-index: 1;

      }    
    }
  }






/* .container{
  display: flex;
  flex-direction: column;

  
  
  .offre-section{
    flex: auto;
    padding: 4rem 8rem;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    .offre-header{
      position: relative;
      flex-basis: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img{
        position: absolute;
        top: -10rem;
        max-width: 15rem;
      }
    }
    .commander{
      flex: auto;
      display: flex;
      img{
        flex: 1;
      }
      .commander-content{
        flex: 1;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        hr{
          margin: 2rem 0;
          max-width: 80px;
          border: 0;
          border: 1px solid var(--text);
        }
        ul li{
          display: flex;
          margin-bottom: 4rem;
          .circle-s{
            margin: 0 2rem 0 0;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid var(--text);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 2rem;
          }
          div{
            h4{
              margin: 0;
            }
            p{
              margin: 0;
            }
          }
        }
        .btn{
          color: white;
          background: var(--orange);
        }
      }
  
    }
    
  }

  .secrets{
    flex: auto;
    line-height: 2.8rem;
    padding: 8rem 8rem;
    background: center center / cover url(../../img/berberes/trio/secrets-bkg.jpg) no-repeat;
    color: white;
    h2{
      color: white;
    }
    p{
      max-width: 50rem;
      font-weight: 300;
     
    }
  }
  
  .services{
    padding: 4rem 8rem;
    background: var(--background);
    h4{
      text-align: center;
    }
    .service-content{
      
      padding: 4rem 0;
      display: flex;
      justify-content: flex-start;
      align-content: center;
    }
    .elem{
      flex: 1;
      background:white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 6rem;
      margin: 1rem;
      img{
        max-width: 50%;
        max-height: 50%;
        padding-bottom: 1rem;
      }
      p{
        span{
          color: var(--orange);
        }
      }
    }
  }

.newsletter{
  background: white;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding: 1rem;
  }
  form{
    display: flex;
    input{
      width: 300px;
      border: 1px solid var(--background);
      background: #eee;
    }
  }
  p{
    font-size: 1.4rem;
    font-weight: 300;
    max-width: 1100px;
  }
  .social{
    display: flex;
    align-items: center;
    p{

      flex: auto;
      font-size:1.8rem;
      font-weight:400;
    }
    .social-content{
      flex:auto;
      display: flex;
      align-items: center;
      .fcb{
        flex: auto;
        margin: 1rem;
        padding: 0.5rem 1.3rem;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid black;
      }
      .instagram{
        flex: auto; 
      }
    }
    .social-content::after{
      content: "";
      width: 40px;
      height: 40px;
      border: 1px solid var(--text);
      border-radius: 40px;
      background: center center url(../../img/berberes/trio/instagram.png) no-repeat;
      background-size: 20px 20px
    }
  }
}

footer{
  padding: 4rem 8rem;
  background: center center / cover url(../../img/berberes/trio/footer-bkg.jpg) no-repeat ;
  color: white;
  .footer-content{
    display: flex;
    .logo-footer{
      flex-basis: 60px;
      display: flex;
      align-items: center;
    }
    .inside-footer{
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    div{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-template-areas:
      "ul-1 ul-2 ul-3 ul-4";
      gap: 4rem;
      div ul:nth-child(1){
        grid-area: ul-1;
      }
      div ul:nth-child(2){
        grid-area: ul-2;
      }
      div ul:nth-child(3){
        grid-area: ul-3;
      }
      div ul:nth-child(4){
        grid-area: ul-4;
      }
    } 
    .footer-titre{
      font-weight: 700;
      padding-bottom: 2rem;   
    }
    ul li{
      padding:0.2rem 0;
      font-size: 1.4rem;
    }
    }
  }
}
.under-footer{
  background: var(--noir);
  color: white;
  position: relative;
  .content-under-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 1s;
    .contact{
      position: relative;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cookies{
        width: 160px;
        height: 5px;
        background: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        bottom: -5px;
        transition: all 1s;

        a{
          padding: 0;
          font-size: 1.5rem;
          display: none;
          color: orange;
          text-decoration: underline;
        } 
        &:hover{
          transition: all 1s;
          height: 40px;
          a{
            display: block;
            text-align: center;
            padding: 10px 0;
          }
        }
      } 
    }
    &:hover{
      .cookies{
        transition: all 1s;
      }
    }
    .list ul{
      display: flex;
      li{
        padding: 2rem;
        font-size: 1.4rem;
        color: #FFFFFF;
      }
    }  
  }
  
  
}

} */