:root {
  --font-family:'Lato', sans-serif;
  --font-family-title: 'Jomolhari', serif;
  --text:rgba(51, 51, 51, 1);
  --text-light:rgba(0,0,0,.5);
  --pink:#ebd4d4;
  --brown:#d5ae69;
  --brown-light:#d4ac66;
  --gray:#817474;
  --orange:#d4ac66;
  --dark: #343434;
  --white:#fff;
  --background:#faf4f4;
  --noir:#000; }
