@import "../../reset";
@import "../../base";
@import "../../utilities";

.container{
  height: 100vh;
  background: var(--gray);
  .lists{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    .content-list{
      min-width: 800px;
      li{
        display: flex;
        align-items: center;
        background: var(--white);
        border-bottom: 2px solid var(--gray);
        margin-bottom: 2rem;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        p{
          margin: 1rem;
          width: 40px;
          height: 40px;
          font-size: 2rem;
          //border: 1px solid var(--dark);
          background: var(--orange-light);
          color: var(--white);
          border-radius: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

  
        }
        a{
          margin-left: 2rem;
          font-size: 2rem;
        }
        box-sizing: border-box;
        transition: all 0.2s;
        border-left: 4px solid transparent;
        &:hover{
          //background: var(--dark);
          cursor: pointer;
          border-left: 4px solid var(--orange-light);
          a{
            color: var(--text);
          }
          p{
            background: var(--gray);
            color: var(--text);
            transform: scale(1.1);
          }
          
        }
      }     
    }    
  }
}
 /* details */
 .content-page{
   min-height: 100vh;
   background: var(--gray);
   width: 1000px;
   margin: auto;
   padding: 2rem;
   font-size: 1.6rem;
   line-height: 2.4rem;
   border-top: 3px solid var(--red-light);
   h2{
     font-size: 2rem;
     letter-spacing: 0.2rem;
     padding: 1rem 0;
   }
   pre{
     overflow: auto;
     margin: 2rem 0; 
     background: var(--white);
     padding: 1rem 0;
     box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);  
   }
   img{
     max-width: 100%;
     max-height: 400px;
   }
 }